# 주제: 전국 배리어프리 문화예술관광지
(https://www.bigdata-culture.kr/bigdata/user/data_market/detail.do?id=573acce0-0337-11ee-a67e-69239d37dfae)
### 컬럼명 설명
- FCLTY_NM	시설명
- MRHST_NM	가맹점명
- CTGRY_ONE_NM	카테고리1명_레저/ 문화광관/ 전시 등
- CTGRY_TWO_NM	카테고리2명_공원/ 관광지/ 레저시설/ 영화/ 전시 등
- CTGRY_THREE_NM	카테고리3명_경마장/ 골프장/ 미술관 등
- CTPRVN_NM	시도명
- SIGNGU_NM	시군구명
- EMD_NM	읍면동명
- LI_NM	리명
- LNBR_NO	번지번호
- ROAD_NM	도로명
- BULD_NO	건물번호
- LC_LA	위치위도
- LC_LO	위치경도
- ZIP_NO	우편번호
- RDNMADR_NM	도로명주소명
- LNM_ADDR	지번주소
- TEL_NO	전화번호
- HMPG_URL	홈페이지URL
- BLOG_URL	블로그URL
- FACEBOOK_URL	페이스북URL
- INSTGRM_URL	인스타그램URL
- RSTDE_GUID_CN	휴무일안내내용
- OPER_TIME	운영시간
- FRE_PARKNG_AT	무료주차여부
- CHGD_PARKNG_AT	유료주차여부
- ENTRN_PRICE_AT	입장금액여부
- DSPSN_TOILET_ATMC_DOOR_AT	장애인화장실자동문여부
- WCHAIR_HOLD_AT	휠체어보유여부
- DSPSN_TOILET_AT	장애인화장실여부
- DSPSN_PRKPLCE_AT	장애인주차장여부
- LRGE_PARKNG_POSBL_AT	대주차가능여부
- GUID_DOG_ACP_POSBL_AT	안내견동반가능여부
- BRLL_GUID_AT	점자안내여부
- KLANG_VIC_GUID_AT	한국어음성안내여부
- LAST_UPDT_DE	최종수정일자

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm

# 폰트 설정
font_path = 'C:\\Windows\\Fonts\\gulim.ttc'
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

In [4]:
df = pd.read_csv('./data/main_data.csv')

In [5]:
from sklearn.preprocessing import LabelEncoder

gender = df['GENDER']

encoder = LabelEncoder()
encoded_gender = encoder.fit_transform(gender)

df['GENDER'] = encoded_gender
df = df.drop(['CTGRY_ONE_NM','CTGRY_TWO_NM','SIGNGU_NM','FCLTY_ID','TRAVEL_ID','TRAVEL_STYL_1','TRAVEL_STYL_2','TRAVEL_STYL_3','TRAVEL_STYL_4'], axis = 1)

In [6]:
df

,FCLTY_NM,CTGRY_THREE_NM,WCHAIR_HOLD_AT,DSPSN_TOILET_AT,DSPSN_PRKPLCE_AT,GUID_DOG_ACP_POSBL_AT,BRLL_GUID_AT,KLANG_VIC_GUID_AT,PARKNG_AT,DGSTFN,GENDER,AGE_GRP,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_COMPANIONS_NUM
0,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,40,3,5,2,6,1
1,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,2,3,2,6,1
2,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,6,4,2,6,3
3,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,30,5,3,3,7,1
4,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,40,4,4,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,1,40,5,2,7,5,4
1998,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,5.0,0,30,3,2,5,7,0
1999,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,30,7,7,1,7,3
2000,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,3.0,1,30,5,3,6,2,1
2001,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,50,2,4,2,6,1

In [7]:
df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']] = df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002 entries, 0 to 2001
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FCLTY_NM               2002 non-null   object
 1   CTGRY_THREE_NM         2002 non-null   object
 2   WCHAIR_HOLD_AT         2002 non-null   int32
 3   DSPSN_TOILET_AT        2002 non-null   int32
 4   DSPSN_PRKPLCE_AT       2002 non-null   int32
 5   GUID_DOG_ACP_POSBL_AT  2002 non-null   int32
 6   BRLL_GUID_AT           2002 non-null   int32
 7   KLANG_VIC_GUID_AT      2002 non-null   int32
 8   PARKNG_AT              2002 non-null   int64
 9   DGSTFN                 2002 non-null   float64
 10  GENDER                 2002 non-null   int32
 11  AGE_GRP                2002 non-null   int32
 12  TRAVEL_STYL_5          2002 non-null   int32
 13  TRAVEL_STYL_6          2002 non-null   int32
 14  TRAVEL_STYL_7          2002 non-null   int32
 15  TRAVEL_STYL_8          2002 non-null   int32
 16  TRAVEL_COMPANIONS_NUM  2002 non-null   int32
dtypes: float64(1), int32(13), int64(1), object(2)
memory usage: 164.4+ KB

In [8]:
from catboost import Pool
from sklearn.model_selection import train_test_split
df['FCLTY_NM'] = df['FCLTY_NM'].astype(str)

X = df[['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5',
       'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
       'TRAVEL_COMPANIONS_NUM','FCLTY_NM']]
y = df['DGSTFN']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2)

cat_features = ['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5','TRAVEL_STYL_6',
                'TRAVEL_STYL_7', 'TRAVEL_STYL_8', 'FCLTY_NM']

# 범주형 데이터 처리를 위한 Pool객체 생성
X_train_pool = Pool(X_train, y_train, cat_features = cat_features)
X_test_pool = Pool(X_test, y_test, cat_features = cat_features)

In [9]:
from catboost import CatBoostRegressor
cb_reg = CatBoostRegressor(
    n_estimators = 5000,
    depth = 5,
    learning_rate = .02,
    loss_function = 'RMSE',
    eval_metric = 'RMSE',
    l2_leaf_reg = 10,
    early_stopping_rounds = 200,
    random_state = 0
)

In [10]:
cb_reg.fit(X_train_pool, eval_set = X_test_pool, verbose = 100)

0:	learn: 0.7152753	test: 0.8879581	best: 0.8879581 (0)	total: 158ms	remaining: 13m 7s
100:	learn: 0.6899531	test: 0.8762403	best: 0.8762403 (100)	total: 1.88s	remaining: 1m 31s
200:	learn: 0.6753805	test: 0.8709452	best: 0.8708806 (198)	total: 3.58s	remaining: 1m 25s
300:	learn: 0.6670013	test: 0.8689054	best: 0.8689054 (300)	total: 5.23s	remaining: 1m 21s
400:	learn: 0.6602346	test: 0.8673146	best: 0.8672989 (398)	total: 6.75s	remaining: 1m 17s
500:	learn: 0.6540239	test: 0.8655214	best: 0.8654453 (485)	total: 8.45s	remaining: 1m 15s
600:	learn: 0.6492082	test: 0.8641405	best: 0.8641405 (600)	total: 10.2s	remaining: 1m 14s
700:	learn: 0.6442064	test: 0.8629007	best: 0.8629007 (700)	total: 12.1s	remaining: 1m 14s
800:	learn: 0.6393233	test: 0.8615797	best: 0.8615591 (797)	total: 13.8s	remaining: 1m 12s
900:	learn: 0.6343504	test: 0.8614479	best: 0.8610639 (871)	total: 15.7s	remaining: 1m 11s
1000:	learn: 0.6296005	test: 0.8611279	best: 0.8610639 (871)	total: 17.8s	remaining: 1m 11s
1100:	learn: 0.6244231	test: 0.8609359	best: 0.8608560 (1042)	total: 19.6s	remaining: 1m 9s
1200:	learn: 0.6201267	test: 0.8602284	best: 0.8601498 (1198)	total: 22s	remaining: 1m 9s
1300:	learn: 0.6145722	test: 0.8603525	best: 0.8601498 (1198)	total: 24.6s	remaining: 1m 9s
1400:	learn: 0.6090358	test: 0.8601124	best: 0.8600030 (1378)	total: 26.9s	remaining: 1m 9s
1500:	learn: 0.6034689	test: 0.8595779	best: 0.8595600 (1480)	total: 28.7s	remaining: 1m 6s
1600:	learn: 0.5982899	test: 0.8592458	best: 0.8591641 (1590)	total: 30.5s	remaining: 1m 4s
1700:	learn: 0.5935247	test: 0.8593434	best: 0.8591641 (1590)	total: 32.7s	remaining: 1m 3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8591641483
bestIteration = 1590

Shrink model to first 1591 iterations.

In [11]:
importances_df = pd.DataFrame({
    'columns' : X_train.columns,
    'importance' : cb_reg.feature_importances_
})
    
importances_df.sort_values(by = 'importance', ascending = False)

                 columns  importance
7               FCLTY_NM   19.034141
4          TRAVEL_STYL_7   16.500168
1                AGE_GRP   15.516498
3          TRAVEL_STYL_6   15.362462
2          TRAVEL_STYL_5   15.293380
5          TRAVEL_STYL_8   13.647414
6  TRAVEL_COMPANIONS_NUM    3.732863
0                 GENDER    0.913076

In [12]:
# 예측평점 df

import unicodedata

# 유니코드 정규화 적용 후 고유 값 확인
df['FCLTY_NM'] = df['FCLTY_NM'].apply(lambda x: unicodedata.normalize('NFKC', str(x)).strip())
places = list(df['FCLTY_NM'].unique())

In [13]:
dgstfn_pred_df = pd.DataFrame(index=X_train.index, columns=places)

In [14]:
for place in places:
    X_train_place = X_train.copy()
    
    predicted_dgstfn = cb_reg.predict(X_train_pool)
    
    dgstfn_pred_df[place] = predicted_dgstfn
    
dgstfn_pred_df

,9.81파크,강창학종합경기장,갤러리2중선농원,건강과성박물관,고흐의정원,교래자연휴양림,국립제주박물관,국제리더스클럽,그리스신화박물관,금능석물원,...,한림공원,함덕해수욕장,해녀박물관,헬로키티아일랜드,협재해수욕장,혼인지,화순금모래해수욕장,화조원,훈데르트바서파크,ICC제주국제컨벤션센터
365,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964,...,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964,4.422964
492,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299,...,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299,4.833299
128,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387,...,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387,3.629387
433,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343,...,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343,4.657343
935,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493,...,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493,4.613493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374,...,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374,4.530374
1358,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774,...,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774,4.776774
1188,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959,...,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959,3.909959
1175,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207,...,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207,4.676207
665,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543,...,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543,4.633543

In [15]:
def recommend(gender, age_group, comp_num, styl5, styl6, styl7, styl8, topn):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        stfn=round(stfn,3)
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)[:topn]
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [16]:
recommend(1,50,2,1,1,2,2,50)

         FCLTY_NM  stfn_pred
0      제주도립김창열미술관      4.348
1       제주4.3평화공원      4.309
2          함덕해수욕장      4.296
3         국제리더스클럽      4.282
4         교래자연휴양림      4.281
5         국립제주박물관      4.255
6           포도뮤지엄      4.241
7        에코랜드테마파크      4.240
8         소인국테마파크      4.239
9       제주항공우주박물관      4.236
10           더마파크      4.223
11        제주돌문화공원      4.215
12      제주해양동물박물관      4.211
13         김녕요트투어      4.203
14        제주항일기념관      4.202
15          해녀박물관      4.194
16     너븐숭이4.3기념관      4.192
17         9.81파크      4.189
18         김녕해수욕장      4.188
19        제주아트서커스      4.188
20          카멜리아힐      4.187
21        제주학생문화원      4.184
22         김녕미로공원      4.182
23      서프라이즈테마파크      4.182
24        절물자연휴양림      4.182
25         제주신화월드      4.178
26  바이나흐튼크리스마스박물관      4.177
27       신창풍차해안도로      4.177
28          고흐의정원      4.176
29      제주차귀도요트투어      4.171
30      붉은오름자연휴양림      4.168
31            방림원      4.167
32          한라생태숲      4.160
33         금능해수욕장      4.159
34         김만덕기념관      4.151
35        제주도립미술관      4.151
36       훈데르트바서파크      4.151
37       갤러리2중선농원      4.149
38         애월해안도로      4.149
39          핀크스GC      4.149
40         협재해수욕장      4.145
41         남원큰엉해변      4.143
42      김영갑갤러리두모악      4.142
43           사계해안      4.142
44          성산일출봉      4.142
45          본태박물관      4.135
46             숨도      4.135
47      제주코코몽에코파크      4.134
48      화순금모래해수욕장      4.129
49           빛의벙커      4.126

In [17]:
def recommend_2(gender, age_group, comp_num, styl5, styl6, styl7, styl8):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        stfn=round(stfn,3)
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [18]:
# recommend_2(1,50,2,1,1,2,3)
recommend_2(1,20,2,1,4,5,4)

       FCLTY_NM  stfn_pred
0    제주도립김창열미술관      4.717
1       절물자연휴양림      4.691
2        함덕해수욕장      4.690
3        여미지식물원      4.688
4         고흐의정원      4.676
..          ...        ...
103    신양섭지해수욕장      4.430
104       서복전시관      4.425
105        한림공원      4.377
106        세리월드      4.368
107     서귀포치유의숲      4.335

[108 rows x 2 columns]

In [19]:
import pandas as pd
import unicodedata
from itertools import combinations
from sklearn.metrics.pairwise import cosine_similarity
from gensim.models import KeyedVectors

main_df=pd.read_csv('./data/main_data.csv')
kv_model = KeyedVectors.load("./data/small_fasttext_model.kv")

main_df['CTGRY_TWO_NM'] = main_df['CTGRY_TWO_NM'].apply(lambda x: unicodedata.normalize('NFKC', x))
unique_values_two = main_df['CTGRY_TWO_NM'].unique()
ct_sim = pd.DataFrame(index=unique_values_two, columns=unique_values_two)

# 모든 단어 쌍에 대해 유사도 계산
for word1 in unique_values_two:
    for word2 in unique_values_two:
        # 두 단어가 모두 모델에 있을 때만 유사도 계산
        if word1 in kv_model and word2 in kv_model:
            # 벡터 추출
            vec1 = kv_model[word1].reshape(1, -1)
            vec2 = kv_model[word2].reshape(1, -1)
            # 코사인 유사도 계산
            similarity = cosine_similarity(vec1, vec2)[0][0]
            ct_sim.loc[word1, word2] = similarity
        else:
            ct_sim.loc[word1, word2] = np.nan  # 모델에 없는 단어는 NaN 처리

def place_sim(selected_category, ct_sim, main_df):
    # 선택된 카테고리의 유사도 순으로 정렬
    sim_scores = ct_sim[selected_category].sort_values(ascending=False)
    recommended_places = []  # 추천할 장소 리스트
    category_similarity = {}  # 추천 장소와 유사도 저장할 딕셔너리

    # 유사도가 높은 카테고리부터 장소 추천
    for category in sim_scores.index:  
        facilities = main_df[main_df['CTGRY_TWO_NM'] == category]['FCLTY_NM']

        for fclty in facilities:
            if fclty not in recommended_places:  # 중복된 장소 제외
                recommended_places.append(fclty)
                # 선택된 카테고리와 유사 카테고리의 유사도 저장
                similarity = ct_sim[selected_category][category]
                similarity=round(similarity,3)
                if similarity==1.000:
                    similarity=0.70
                category_similarity[fclty] = similarity
                
    # 추천 장소와 유사도를 데이터프레임으로 변환
    recommendations_df = pd.DataFrame(list(category_similarity.items()), columns=['FCLTY_NM', 'similarity'])
    return recommendations_df

In [20]:
place_sim('대형체육시설',ct_sim,main_df)

      FCLTY_NM  similarity
0     강창학종합경기장       0.700
1     제주월드컵경기장       0.700
2      제주종합경기장       0.700
3      국제리더스클럽       0.575
4       김녕요트투어       0.575
..         ...         ...
103   훈데르트바서파크       0.207
104     노형근린공원       0.139
105  제주4.3평화공원       0.139
106  제주곶자왈도립공원       0.139
107      한라생태숲       0.139

[108 rows x 2 columns]

In [21]:
def combine_recommendations(gender, age_group, comp_num, styl5, styl6, styl7, styl8, selected_category, ct_sim, main_df):
    reg_df = recommend_2(gender, age_group, comp_num, styl5, styl6, styl7, styl8)
    content_df = place_sim(selected_category, ct_sim, main_df)
    # 유사도에 맞추어 평점 정규화 (1~5) -> (0~1)
    reg_df['stfn_pred_normalized'] = (reg_df['stfn_pred'] - 1) / (5 - 1)
    content_df['similarity_normalized'] = content_df['similarity'] 

    combined_df = pd.merge(reg_df, content_df, on='FCLTY_NM', how='inner')
    combined_df['final_score'] = combined_df['stfn_pred_normalized'] * 0.8 + combined_df['similarity_normalized'] * 0.2
    final_recommendations = combined_df.sort_values(by='final_score', ascending=False).reset_index(drop=True)
    top_10_places = final_recommendations.head(10)
    return top_10_places['FCLTY_NM'].tolist()
    # return final_recommendations

In [22]:
# combine_recommendations(gender, age_group, comp_num, styl5, styl6, styl7, styl8, selected_category, ct_sim, main_df, cb_reg, places, cat_features)
combine_recommendations(1,20,2,1,4,5,4,'대형체육시설',ct_sim, main_df)

['제주월드컵경기장',
 '제주종합경기장',
 '국제리더스클럽',
 '김녕요트투어',
 '강창학종합경기장',
 '핀크스GC',
 '제주도립김창열미술관',
 '제주차귀도요트투어',
 '포도뮤지엄',
 '제주해양동물박물관']

In [33]:
place_df = main_df.drop_duplicates(subset='FCLTY_NM', keep='first')
place_df=place_df[['FCLTY_NM','WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT']]
place_df

,FCLTY_NM,WCHAIR_HOLD_AT,DSPSN_TOILET_AT,DSPSN_PRKPLCE_AT,GUID_DOG_ACP_POSBL_AT,BRLL_GUID_AT,KLANG_VIC_GUID_AT
0,9.81파크,0,1,1,0,0,0
62,강창학종합경기장,0,0,1,0,0,0
63,갤러리2중선농원,0,0,0,0,0,0
64,건강과성박물관,1,1,1,1,0,0
77,고흐의정원,0,0,1,0,0,0
...,...,...,...,...,...,...,...
1972,혼인지,0,1,0,0,0,0
1973,화순금모래해수욕장,0,0,0,0,0,0
1981,화조원,1,0,0,0,0,0
1993,훈데르트바서파크,0,1,1,0,0,1
1997,ICC제주국제컨벤션센터,1,1,1,1,1,0

In [40]:
# 1. combine_recommendations 함수 정의
def combine_recommendations(gender, age_group, comp_num, styl5, styl6, styl7, styl8, selected_category, ct_sim, main_df):
    reg_df = recommend_2(gender, age_group, comp_num, styl5, styl6, styl7, styl8)
    content_df = place_sim(selected_category, ct_sim, main_df)
    # 평점 정규화 (1~5) -> (0~1)
    reg_df['stfn_pred_normalized'] = (reg_df['stfn_pred'] - 1) / (5 - 1)
    content_df['similarity_normalized'] = content_df['similarity']
    
    combined_df = pd.merge(reg_df, content_df, on='FCLTY_NM', how='inner')
    combined_df['final_score'] = combined_df['stfn_pred_normalized'] * 0.8 + combined_df['similarity_normalized'] * 0.2
    final_recommendations = combined_df.sort_values(by='final_score', ascending=False).reset_index(drop=True)
    
    # top 10 장소 반환
    return final_recommendations.head(10)

# 2. print_recommendations 함수 정의
def print_recommendations(final_recommendations, place_df, selected_options):
    # combine_recommendations 결과와 place_df를 병합
    combined_df = pd.merge(final_recommendations, place_df, on='FCLTY_NM', how='left')
    
    # selected_options 리스트에 포함된 항목들을 필터링 조건으로 적용
    for option in selected_options:
        combined_df = combined_df[combined_df[option] == 1]
    
    # 필터링된 전체 장소명 리스트 반환
    filtered_places = combined_df['FCLTY_NM'].tolist()
    return filtered_places

# 예시 사용
final_recommendations = combine_recommendations(1, 20, 2, 1, 4, 5, 4, '공원', ct_sim, main_df)

# 사용자 선택에 따른 옵션 리스트
selected_options = ['BRLL_GUID_AT', 'WCHAIR_HOLD_AT']  # 예: 점자 안내, 휠체어 보유 옵션만 필터링

filtered_recommendations = print_recommendations(final_recommendations, place_df, selected_options)
filtered_recommendations

['제주곶자왈도립공원']

In [ ]:
def print_recommendations(final_recommendations, place_df):

    barrier_free_columns = [
        'BRLL_GUID_AT',          # 점자 안내 여부
        'GUID_DOG_ACP_POSBL_AT', # 안내견 출입 가능 여부
        'DSPSN_TOILET_AT',       # 장애인 화장실 여부
        'WCHAIR_HOLD_AT',        # 휠체어 보유 여부
        'DSPSN_PRKPLCE_AT'       # 장애인 주차장 여부
    ]

    filter_brll_guid_at = False
    filter_guid_dog_acp_posbl_at = False
    filter_dspsn_toilet_at = False
    filter_wchair_hold_at = False
    filter_dspsn_prkplce_at = False
    
    combined_df = pd.merge(final_recommendations, place_df, on='FCLTY_NM', how='left')
    if filter_brll_guid_at:
        for rows in final_recommendations:
            if combined_df['BRLL_GUID_AT'] == 0:
                idx = final_recommendations[final_recommendations['BRLL_GUID_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    if filter_guid_dog_acp_posbl_at:
        for rows in final_recommendations:
            if combined_df['GUID_DOG_ACP_POSBL_AT'] == 0:
                idx = final_recommendations[final_recommendations['GUID_DOG_ACP_POSBL_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    if filter_wchair_hold_at:
        for rows in final_recommendations:
            if combined_df['WCHAIR_HOLD_AT'] == 0:
                idx = final_recommendations[final_recommendations['WCHAIR_HOLD_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)
                
    if filter_dspsn_toilet_at:
        for rows in final_recommendations:
            if combined_df['DSPSN_TOILET_AT'] == 0:
                idx = final_recommendations[final_recommendations['DSPSN_TOILET_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    if filter_dspsn_prkplce_at:
        for rows in final_recommendations:
            if combined_df['DSPSN_PRKPLCE_AT'] == 0:
                idx = final_recommendations[final_recommendations['DSPSN_PRKPLCE_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    filtered_recommendations = final_recommendations['FCLTY_NM'].head(10)
    return filtered_recommendations

In [23]:
def filter_recommendations_by_accessibility(final_recommendations, selected_barrier_free, main_df):
    """
    사용자 선택에 맞는 장애인 편의 시설을 필터링하는 함수.
    
    final_recommendations: combine_recommendations에서 도출된 최종 추천 장소들
    selected_barrier_free: 사용자가 선택한 장애인 편의 시설 리스트
    main_df: 원본 데이터프레임 (시설의 접근성 정보를 포함)
    """
    
    # 각 조건을 필터링할 컬럼 이름에 매핑
    accessibility_mapping = {
        "장애인 주차장": "DSPSN_PRKPLCE_AT",
        "장애인 화장실": "DSPSN_TOILET_AT",
        "휠체어 보유": "WCHAIR_HOLD_AT",
        "안내견 동반 가능": "GUID_DOG_ACP_POSBL_AT",
        "점자 안내": "BRLL_GUID_AT",
        "한국어 음성 안내": "KLANG_VIC_GUID_AT"
    }

    # 필터링할 조건을 설정 (선택된 항목만 True로 설정)
    accessible_conditions = {condition: (condition in selected_barrier_free) 
                             for condition in accessibility_mapping.keys()}
    
    # 필터링된 추천 장소들
    filtered_recommendations = final_recommendations.copy()
    
    for condition, is_selected in accessible_conditions.items():
        if is_selected:  # 조건이 선택된 경우 해당 조건이 1인 장소만 필터링
            column_name = accessibility_mapping[condition]
            filtered_recommendations = filtered_recommendations[filtered_recommendations[column_name] == 1]
    
    return filtered_recommendations


# 사용 예시
# final_recommendations: combine_recommendations 결과
# selected_barrier_free: 사용자가 선택한 장애인 편의 시설 (리스트 형태)

selected_barrier_free = ["장애인 주차장", "휠체어 보유"]  # 예시 선택
final_recommendations = pd.DataFrame({
    'FCLTY_NM': ['장소1', '장소2', '장소3'],
    'final_score': [0.9, 0.8, 0.7],
    'disabled_parking': [1, 0, 1],
    'disabled_restroom': [1, 1, 0],
    'wheelchair_available': [1, 1, 0],
    'guide_dog_allowed': [1, 0, 1],
    'braille_guidance': [0, 0, 1],
    'korean_voice_guidance': [1, 1, 0]
})

# 필터링
filtered_recommendations = filter_recommendations_by_accessibility(final_recommendations, selected_barrier_free, main_df=None)
print(filtered_recommendations)

KeyError: 'DSPSN_PRKPLCE_AT'

In [24]:
def filter_by_barrier_free_options(final_recommendations, selected_barrier_free, main_df):
    """
    주어진 장소 리스트에서 사용자가 선택한 장애인 편의 시설 옵션을 기준으로 장소를 필터링합니다.

    :param final_recommendations: 최종 추천 장소 리스트 (DataFrame)
    :param selected_barrier_free: 사용자가 선택한 장애인 편의 시설 리스트
    :param main_df: 모든 장소에 대한 장애인 편의 시설 정보가 담긴 DataFrame
    :return: 필터링된 장소 리스트
    """
    
    # 필터링된 장소들
    filtered_places = []

    for place in final_recommendations['FCLTY_NM']:
        # 장소에 대한 장애인 편의 시설 정보를 가져옵니다
        place_facilities = main_df[main_df['FCLTY_NM'] == place]

        # 모든 선택된 장애인 편의 시설 옵션이 해당 장소에서 충족되는지 확인
        matches_all = True
        for option in selected_barrier_free:
            # 각 옵션에 대해 해당 장소가 1(있음)인지 확인
            if place_facilities[option].values[0] == 0:  # 0이면 해당 시설이 없음
                matches_all = False
                break

        if matches_all:
            filtered_places.append(place)

    # 필터링된 장소들을 final_recommendations에서 반환
    filtered_df = final_recommendations[final_recommendations['FCLTY_NM'].isin(filtered_places)]
    return filtered_df

# 예시 사용:
selected_barrier_free = ["DSPSN_PRKPLCE_AT", "DSPSN_TOILET_AT", "WCHAIR_HOLD_AT"]  # 사용자가 선택한 장애인 편의 시설
filtered_recommendations = filter_by_barrier_free_options(final_recommendations, selected_barrier_free, main_df)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [29]:
place_df = main_df.drop_duplicates(subset='FCLTY_NM', keep='first')
place_df=place_df[['FCLTY_NM','WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT']]
place_df

,FCLTY_NM,WCHAIR_HOLD_AT,DSPSN_TOILET_AT,DSPSN_PRKPLCE_AT,GUID_DOG_ACP_POSBL_AT,BRLL_GUID_AT,KLANG_VIC_GUID_AT
0,9.81파크,0,1,1,0,0,0
62,강창학종합경기장,0,0,1,0,0,0
63,갤러리2중선농원,0,0,0,0,0,0
64,건강과성박물관,1,1,1,1,0,0
77,고흐의정원,0,0,1,0,0,0
...,...,...,...,...,...,...,...
1972,혼인지,0,1,0,0,0,0
1973,화순금모래해수욕장,0,0,0,0,0,0
1981,화조원,1,0,0,0,0,0
1993,훈데르트바서파크,0,1,1,0,0,1
1997,ICC제주국제컨벤션센터,1,1,1,1,1,0

In [ ]:
def print_recommendations(final_recommendations, main_df):

    barrier_free_columns = [
        'BRLL_GUID_AT',          # 점자 안내 여부
        'GUID_DOG_ACP_POSBL_AT', # 안내견 출입 가능 여부
        'DSPSN_TOILET_AT',       # 장애인 화장실 여부
        'WCHAIR_HOLD_AT',        # 휠체어 보유 여부
        'DSPSN_PRKPLCE_AT'       # 장애인 주차장 여부
    ]

    filter_brll_guid_at = True
    filter_guid_dog_acp_posbl_at = False
    filter_dspsn_toilet_at = False
    filter_wchair_hold_at = False
    filter_dspsn_prkplce_at = False
    
    combined_df = pd.merge(final_recommendations, main_df[['FCLTY_NM'], on='FCLTY_NM', how='left')
    if filter_brll_guid_at:
        for rows in final_recommendations:
            if combined_df['BRLL_GUID_AT'] == 0:
                idx = final_recommendations[final_recommendations['BRLL_GUID_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    if filter_guid_dog_acp_posbl_at:
        for rows in final_recommendations:
            if combined_df['GUID_DOG_ACP_POSBL_AT'] == 0:
                idx = final_recommendations[final_recommendations['GUID_DOG_ACP_POSBL_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    if filter_wchair_hold_at:
        for rows in final_recommendations:
            if combined_df['WCHAIR_HOLD_AT'] == 0:
                idx = final_recommendations[final_recommendations['WCHAIR_HOLD_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)
                
    if filter_dspsn_toilet_at:
        for rows in final_recommendations:
            if combined_df['DSPSN_TOILET_AT'] == 0:
                idx = final_recommendations[final_recommendations['DSPSN_TOILET_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    if filter_dspsn_prkplce_at:
        for rows in final_recommendations:
            if combined_df['DSPSN_PRKPLCE_AT'] == 0:
                idx = final_recommendations[final_recommendations['DSPSN_PRKPLCE_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    filtered_recommendations = final_recommendations['FCLTY_NM'].head(10)
    return filtered_recommendations

In [30]:
def print_recommendations(final_recommendations, place_df):

    barrier_free_columns = [
        'BRLL_GUID_AT',          # 점자 안내 여부
        'GUID_DOG_ACP_POSBL_AT', # 안내견 출입 가능 여부
        'DSPSN_TOILET_AT',       # 장애인 화장실 여부
        'WCHAIR_HOLD_AT',        # 휠체어 보유 여부
        'DSPSN_PRKPLCE_AT'       # 장애인 주차장 여부
    ]

    filter_brll_guid_at = False
    filter_guid_dog_acp_posbl_at = False
    filter_dspsn_toilet_at = False
    filter_wchair_hold_at = False
    filter_dspsn_prkplce_at = False
    
    combined_df = pd.merge(final_recommendations, place_df, on='FCLTY_NM', how='left')
    if filter_brll_guid_at:
        for rows in final_recommendations:
            if combined_df['BRLL_GUID_AT'] == 0:
                idx = final_recommendations[final_recommendations['BRLL_GUID_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    if filter_guid_dog_acp_posbl_at:
        for rows in final_recommendations:
            if combined_df['GUID_DOG_ACP_POSBL_AT'] == 0:
                idx = final_recommendations[final_recommendations['GUID_DOG_ACP_POSBL_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    if filter_wchair_hold_at:
        for rows in final_recommendations:
            if combined_df['WCHAIR_HOLD_AT'] == 0:
                idx = final_recommendations[final_recommendations['WCHAIR_HOLD_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)
                
    if filter_dspsn_toilet_at:
        for rows in final_recommendations:
            if combined_df['DSPSN_TOILET_AT'] == 0:
                idx = final_recommendations[final_recommendations['DSPSN_TOILET_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    if filter_dspsn_prkplce_at:
        for rows in final_recommendations:
            if combined_df['DSPSN_PRKPLCE_AT'] == 0:
                idx = final_recommendations[final_recommendations['DSPSN_PRKPLCE_AT']==0].index
                final_recommendations = final_recommendations.drop(idx)
                final_recommendations.reset_index(drop=True, inplace=True)

    filtered_recommendations = final_recommendations['FCLTY_NM'].head(10)
    return filtered_recommendations