# 주제: 전국 배리어프리 문화예술관광지
(https://www.bigdata-culture.kr/bigdata/user/data_market/detail.do?id=573acce0-0337-11ee-a67e-69239d37dfae)
### 컬럼명 설명
- FCLTY_NM	시설명
- MRHST_NM	가맹점명
- CTGRY_ONE_NM	카테고리1명_레저/ 문화광관/ 전시 등
- CTGRY_TWO_NM	카테고리2명_공원/ 관광지/ 레저시설/ 영화/ 전시 등
- CTGRY_THREE_NM	카테고리3명_경마장/ 골프장/ 미술관 등
- CTPRVN_NM	시도명
- SIGNGU_NM	시군구명
- EMD_NM	읍면동명
- LI_NM	리명
- LNBR_NO	번지번호
- ROAD_NM	도로명
- BULD_NO	건물번호
- LC_LA	위치위도
- LC_LO	위치경도
- ZIP_NO	우편번호
- RDNMADR_NM	도로명주소명
- LNM_ADDR	지번주소
- TEL_NO	전화번호
- HMPG_URL	홈페이지URL
- BLOG_URL	블로그URL
- FACEBOOK_URL	페이스북URL
- INSTGRM_URL	인스타그램URL
- RSTDE_GUID_CN	휴무일안내내용
- OPER_TIME	운영시간
- FRE_PARKNG_AT	무료주차여부
- CHGD_PARKNG_AT	유료주차여부
- ENTRN_PRICE_AT	입장금액여부
- DSPSN_TOILET_ATMC_DOOR_AT	장애인화장실자동문여부
- WCHAIR_HOLD_AT	휠체어보유여부
- DSPSN_TOILET_AT	장애인화장실여부
- DSPSN_PRKPLCE_AT	장애인주차장여부
- LRGE_PARKNG_POSBL_AT	대주차가능여부
- GUID_DOG_ACP_POSBL_AT	안내견동반가능여부
- BRLL_GUID_AT	점자안내여부
- KLANG_VIC_GUID_AT	한국어음성안내여부
- LAST_UPDT_DE	최종수정일자

In [406]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [407]:
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.font_manager as fm

# 폰트 설정
font_path = 'C:\\Windows\\Fonts\\gulim.ttc'
font = fm.FontProperties(fname=font_path).get_name()
matplotlib.rc('font', family=font)

In [408]:
df = pd.read_csv('./data/main_data.csv')

In [409]:
from sklearn.preprocessing import LabelEncoder

gender = df['GENDER']

encoder = LabelEncoder()
encoded_gender = encoder.fit_transform(gender)

df['GENDER'] = encoded_gender
df = df.drop(['CTGRY_ONE_NM','CTGRY_TWO_NM','SIGNGU_NM','FCLTY_ID','TRAVEL_ID','TRAVEL_STYL_1','TRAVEL_STYL_2','TRAVEL_STYL_3','TRAVEL_STYL_4'], axis = 1)

In [410]:
df

,FCLTY_NM,CTGRY_THREE_NM,WCHAIR_HOLD_AT,DSPSN_TOILET_AT,DSPSN_PRKPLCE_AT,GUID_DOG_ACP_POSBL_AT,BRLL_GUID_AT,KLANG_VIC_GUID_AT,PARKNG_AT,DGSTFN,GENDER,AGE_GRP,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_COMPANIONS_NUM
0,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,40,3,5,2,6,1
1,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,2,3,2,6,1
2,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,0,20,6,4,2,6,3
3,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,30,5,3,3,7,1
4,9.81파크,테마공원/대형놀이공원,0,1,1,0,0,0,1,5.0,1,40,4,4,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,1,40,5,2,7,5,4
1998,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,5.0,0,30,3,2,5,7,0
1999,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,30,7,7,1,7,3
2000,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,3.0,1,30,5,3,6,2,1
2001,ICC제주국제컨벤션센터,컨벤션센터,1,1,1,1,1,0,1,4.0,0,50,2,4,2,6,1

In [411]:
df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']] = df[['WCHAIR_HOLD_AT','DSPSN_TOILET_AT','DSPSN_PRKPLCE_AT','GUID_DOG_ACP_POSBL_AT','BRLL_GUID_AT','KLANG_VIC_GUID_AT','AGE_GRP',
    'TRAVEL_STYL_5','TRAVEL_STYL_6','TRAVEL_STYL_7','TRAVEL_STYL_8',
    'TRAVEL_COMPANIONS_NUM','GENDER']].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2002 entries, 0 to 2001
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FCLTY_NM               2002 non-null   object
 1   CTGRY_THREE_NM         2002 non-null   object
 2   WCHAIR_HOLD_AT         2002 non-null   int32
 3   DSPSN_TOILET_AT        2002 non-null   int32
 4   DSPSN_PRKPLCE_AT       2002 non-null   int32
 5   GUID_DOG_ACP_POSBL_AT  2002 non-null   int32
 6   BRLL_GUID_AT           2002 non-null   int32
 7   KLANG_VIC_GUID_AT      2002 non-null   int32
 8   PARKNG_AT              2002 non-null   int64
 9   DGSTFN                 2002 non-null   float64
 10  GENDER                 2002 non-null   int32
 11  AGE_GRP                2002 non-null   int32
 12  TRAVEL_STYL_5          2002 non-null   int32
 13  TRAVEL_STYL_6          2002 non-null   int32
 14  TRAVEL_STYL_7          2002 non-null   int32
 15  TRAVEL_STYL_8          2002 non-null   int32
 16  TRAVEL_COMPANIONS_NUM  2002 non-null   int32
dtypes: float64(1), int32(13), int64(1), object(2)
memory usage: 164.4+ KB

In [412]:
from catboost import Pool
from sklearn.model_selection import train_test_split
df['FCLTY_NM'] = df['FCLTY_NM'].astype(str)

X = df[['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5',
       'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
       'TRAVEL_COMPANIONS_NUM','FCLTY_NM']]
y = df['DGSTFN']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2)

cat_features = ['GENDER', 'AGE_GRP', 'TRAVEL_STYL_5','TRAVEL_STYL_6',
                'TRAVEL_STYL_7', 'TRAVEL_STYL_8', 'FCLTY_NM']

# 범주형 데이터 처리를 위한 Pool객체 생성
X_train_pool = Pool(X_train, y_train, cat_features = cat_features)
X_test_pool = Pool(X_test, y_test, cat_features = cat_features)

In [413]:
from catboost import CatBoostRegressor
cb_reg = CatBoostRegressor(
    n_estimators = 5000,
    depth = 5,
    learning_rate = .02,
    loss_function = 'RMSE',
    eval_metric = 'RMSE',
    l2_leaf_reg = 10,
    early_stopping_rounds = 200,
    random_state = 0
)

In [414]:
cb_reg.fit(X_train_pool, eval_set = X_test_pool, verbose = 100)

0:	learn: 0.7578784	test: 0.7302666	best: 0.7302666 (0)	total: 42.4ms	remaining: 3m 31s
100:	learn: 0.7319343	test: 0.7137104	best: 0.7137104 (100)	total: 1.69s	remaining: 1m 21s
200:	learn: 0.7180795	test: 0.7071065	best: 0.7070712 (198)	total: 2.99s	remaining: 1m 11s
300:	learn: 0.7083541	test: 0.7035287	best: 0.7035217 (298)	total: 4.22s	remaining: 1m 5s
400:	learn: 0.6991371	test: 0.7020470	best: 0.7020470 (400)	total: 5.47s	remaining: 1m 2s
500:	learn: 0.6918428	test: 0.7015017	best: 0.7014297 (497)	total: 6.72s	remaining: 1m
600:	learn: 0.6850521	test: 0.7003791	best: 0.7003415 (594)	total: 8.26s	remaining: 1m
700:	learn: 0.6786510	test: 0.6994410	best: 0.6993443 (697)	total: 9.82s	remaining: 1m
800:	learn: 0.6711114	test: 0.6987364	best: 0.6987364 (800)	total: 11.2s	remaining: 59s
900:	learn: 0.6646189	test: 0.6989046	best: 0.6984000 (823)	total: 12.9s	remaining: 58.8s
1000:	learn: 0.6576159	test: 0.6987468	best: 0.6984000 (823)	total: 14.3s	remaining: 57.3s
1100:	learn: 0.6511645	test: 0.6981931	best: 0.6980502 (1068)	total: 15.7s	remaining: 55.6s
1200:	learn: 0.6450691	test: 0.6979242	best: 0.6978254 (1157)	total: 17.1s	remaining: 54.2s
1300:	learn: 0.6390099	test: 0.6976792	best: 0.6976457 (1287)	total: 18.5s	remaining: 52.7s
1400:	learn: 0.6333088	test: 0.6977386	best: 0.6974531 (1341)	total: 19.8s	remaining: 51s
1500:	learn: 0.6273508	test: 0.6981883	best: 0.6974531 (1341)	total: 21.3s	remaining: 49.6s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.697453067
bestIteration = 1341

Shrink model to first 1342 iterations.

In [415]:
importances_df = pd.DataFrame({
    'columns' : X_train.columns,
    'importance' : cb_reg.feature_importances_
})
    
importances_df.sort_values(by = 'importance', ascending = False)

                 columns  importance
7               FCLTY_NM   18.007306
2          TRAVEL_STYL_5   16.678684
3          TRAVEL_STYL_6   16.160239
5          TRAVEL_STYL_8   15.108101
4          TRAVEL_STYL_7   14.499227
1                AGE_GRP   14.488447
6  TRAVEL_COMPANIONS_NUM    3.428758
0                 GENDER    1.629236

In [416]:
# 예측평점 df

import unicodedata

# 유니코드 정규화 적용 후 고유 값 확인
df['FCLTY_NM'] = df['FCLTY_NM'].apply(lambda x: unicodedata.normalize('NFKC', str(x)).strip())
places = list(df['FCLTY_NM'].unique())

In [417]:
dgstfn_pred_df = pd.DataFrame(index=X_train.index, columns=places)

In [418]:
for place in places:
    X_train_place = X_train.copy()
    
    predicted_dgstfn = cb_reg.predict(X_train_pool)
    
    dgstfn_pred_df[place] = predicted_dgstfn
    
dgstfn_pred_df

,9.81파크,강창학종합경기장,갤러리2중선농원,건강과성박물관,고흐의정원,교래자연휴양림,국립제주박물관,국제리더스클럽,그리스신화박물관,금능석물원,...,한림공원,함덕해수욕장,해녀박물관,헬로키티아일랜드,협재해수욕장,혼인지,화순금모래해수욕장,화조원,훈데르트바서파크,ICC제주국제컨벤션센터
915,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662,...,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662,4.435662
1962,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891,...,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891,4.430891
1539,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398,...,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398,4.330398
1243,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317,...,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317,4.431317
290,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617,...,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617,4.263617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108,...,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108,3.659108
890,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330,...,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330,4.123330
916,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528,...,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528,4.261528
731,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088,...,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088,4.212088
1311,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207,...,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207,4.574207

In [419]:
def recommend(gender, age_group, comp_num, styl5, styl6, styl7, styl8, topn):

    user_features = pd.DataFrame({
        'GENDER': [gender],
        'AGE_GRP': [age_group],
        'TRAVEL_STYL_5': [styl5],
        'TRAVEL_STYL_6': [styl6],
        'TRAVEL_STYL_7': [styl7],
        'TRAVEL_STYL_8': [styl8],
        'TRAVEL_COMPANIONS_NUM': [comp_num]
    })

    pred_stfn = {}
    
    for place in places:
        user_features_place = user_features.copy()  
        user_features_place['FCLTY_NM'] = place 

        user_pool_place = Pool(user_features_place, cat_features=cat_features + ['FCLTY_NM'])
        
        stfn = cb_reg.predict(user_pool_place)[0]
        pred_stfn[place] = stfn

    sorted_recommendations = sorted(pred_stfn.items(), key=lambda x: x[1], reverse=True)[:topn]
    result_df = pd.DataFrame(sorted_recommendations, columns=['FCLTY_NM', 'stfn_pred'])
    
    return result_df

In [420]:
recommend(1,50,2,1,1,2,2,50)

      FCLTY_NM  stfn_pred
0       함덕해수욕장   4.400234
1       협재해수욕장   4.292572
2       금능해수욕장   4.268633
3      절물자연휴양림   4.265247
4         섭지코지   4.220959
5     에코랜드테마파크   4.220887
6        본태박물관   4.209911
7       9.81파크   4.208188
8      국립제주박물관   4.196552
9        포도뮤지엄   4.189204
10       고흐의정원   4.189066
11  너븐숭이4.3기념관   4.189055
12      남원큰엉해변   4.188320
13      김녕해수욕장   4.185299
14  제주도립김창열미술관   4.184797
15        더마파크   4.183494
16     교래자연휴양림   4.173860
17     제주돌문화공원   4.173244
18   제주4.3평화공원   4.167275
19      스카이워터쇼   4.160147
20     오설록티뮤지엄   4.160145
21     제주아트서커스   4.159668
22   제주코코몽에코파크   4.152437
23     제주항일기념관   4.149476
24        빛의벙커   4.148821
25     국제리더스클럽   4.147254
26      제주신화월드   4.144006
27          숨도   4.138461
28        라온GC   4.135723
29      김녕요트투어   4.132679
30   김영갑갤러리두모악   4.129005
31    제주월드컵경기장   4.128945
32    그리스신화박물관   4.127133
33         방림원   4.126330
34       한라생태숲   4.123740
35       성산일출봉   4.120369
36    훈데르트바서파크   4.120011
37         화조원   4.119886
38    신양섭지해수욕장   4.118852
39         만장굴   4.117302
40       카멜리아힐   4.111452
41     제주학생문화원   4.109283
42    갤러리2중선농원   4.107447
43  대정현역사자료전시관   4.107447
44      애월해안도로   4.107447
45       핀크스GC   4.107447
46      김만덕기념관   4.106742
47      제주불빛정원   4.106693
48       새별프렌즈   4.105370
49        사계해안   4.104857

In [421]:
import pandas as pd
# from gensim.models.fasttext import load_facebook_model
from itertools import combinations
from sklearn.metrics.pairwise import cosine_similarity
from gensim.models import KeyedVectors
# import fasttext

In [422]:
df = pd.read_csv('./data/main_data.csv')
# 유니코드 정규화 후 고유 값 확인
df['CTGRY_TWO_NM'] = df['CTGRY_TWO_NM'].apply(lambda x: unicodedata.normalize('NFKC', x))
unique_values_two = df['CTGRY_TWO_NM'].unique()
unique_count_two = len(unique_values_two)

In [423]:
# 빈 DataFrame 생성 (인덱스와 컬럼은 단어 리스트로 설정)
kv_model = KeyedVectors.load("./data/small_fasttext_model.kv")
ct_sim = pd.DataFrame(index=unique_values_two, columns=unique_values_two)

# 모든 단어 쌍에 대해 유사도 계산
for word1 in unique_values_two:
    for word2 in unique_values_two:
        # 두 단어가 모두 모델에 있을 때만 유사도 계산
        if word1 in kv_model and word2 in kv_model:
            # 벡터 추출
            vec1 = kv_model[word1].reshape(1, -1)
            vec2 = kv_model[word2].reshape(1, -1)
            # 코사인 유사도 계산
            similarity = cosine_similarity(vec1, vec2)[0][0]
            ct_sim.loc[word1, word2] = similarity
        else:
            ct_sim.loc[word1, word2] = np.nan  # 모델에 없는 단어는 NaN 처리

display(ct_sim)

               관광지    대형체육시설    전시/기념관    대형레저시설        공원  영화/연극/공연
관광지            1.0   0.20748   0.06798   0.14908  0.361791  0.023221
대형체육시설     0.20748       1.0  0.424544  0.574813  0.138867  0.383858
전시/기념관     0.06798  0.424544       1.0  0.480152  0.048942  0.377643
대형레저시설     0.14908  0.574813  0.480152       1.0 -0.027068  0.493842
공원        0.361791  0.138867  0.048942 -0.027068       1.0  0.033271
영화/연극/공연  0.023221  0.383858  0.377643  0.493842  0.033271       1.0

In [424]:
train_df=pd.read_csv('./data/train_df.csv')
train_df

,TRAVEL_ID,GENDER,AGE_GRP,FCLTY_ID,FCLTY_NM,CTGRY_ONE_NM,CTGRY_TWO_NM,CTGRY_THREE_NM,DGSTFN,TRAVEL_STYL_1,TRAVEL_STYL_2,TRAVEL_STYL_3,TRAVEL_STYL_4,TRAVEL_STYL_5,TRAVEL_STYL_6,TRAVEL_STYL_7,TRAVEL_STYL_8,TRAVEL_COMPANIONS_NUM
0,h_h000009,남,40,1,9.81파크,문화관광/명소,관광지,테마공원/대형놀이공원,5.0,3,2,3,3,3,5,2,6,1
1,h_h000172,남,20,1,9.81파크,문화관광/명소,관광지,테마공원/대형놀이공원,5.0,3,3,2,5,2,3,2,6,1
2,h_h000203,남,20,1,9.81파크,문화관광/명소,관광지,테마공원/대형놀이공원,5.0,2,1,1,4,6,4,2,6,3
3,h_h000233,여,30,1,9.81파크,문화관광/명소,관광지,테마공원/대형놀이공원,5.0,2,1,2,1,5,3,3,7,1
4,h_h000263,여,40,1,9.81파크,문화관광/명소,관광지,테마공원/대형놀이공원,5.0,4,2,2,2,4,4,4,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1997,h_h000078,여,40,519,ICC제주국제컨벤션센터,전시/공연,전시/기념관,컨벤션센터,4.0,6,2,6,3,5,2,7,5,4
1998,h_h000870,남,30,519,ICC제주국제컨벤션센터,전시/공연,전시/기념관,컨벤션센터,5.0,2,3,5,3,3,2,5,7,0
1999,h_h002119,남,30,519,ICC제주국제컨벤션센터,전시/공연,전시/기념관,컨벤션센터,4.0,6,1,1,7,7,7,1,7,3
2000,h_h002873,여,30,519,ICC제주국제컨벤션센터,전시/공연,전시/기념관,컨벤션센터,3.0,2,2,7,4,5,3,6,2,1
2001,h_h006612,남,50,519,ICC제주국제컨벤션센터,전시/공연,전시/기념관,컨벤션센터,4.0,5,2,3,2,2,4,2,6,1

In [425]:
train_df.columns

Index(['TRAVEL_ID', 'GENDER', 'AGE_GRP', 'FCLTY_ID', 'FCLTY_NM',
       'CTGRY_ONE_NM', 'CTGRY_TWO_NM', 'CTGRY_THREE_NM', 'DGSTFN',
       'TRAVEL_STYL_1', 'TRAVEL_STYL_2', 'TRAVEL_STYL_3', 'TRAVEL_STYL_4',
       'TRAVEL_STYL_5', 'TRAVEL_STYL_6', 'TRAVEL_STYL_7', 'TRAVEL_STYL_8',
       'TRAVEL_COMPANIONS_NUM'],
      dtype='object')

In [426]:
# def category_score(selected_category):
    # 선택된 카테고리의 유사도 순으로 정렬
# sim_scores = ct_sim[selected_category].sort_values(ascending=False)
# sim_scores = sim_scores[1:].index  # 자기 자신 제외

recommend_fclty = []  # 추천할 장소 리스트

# 유사도가 높은 카테고리부터 장소 추천
# for category in sim_scores:
#     facilities = train_df[train_df['CTGRY_TWO_NM'] == category]['FCLTY_NM']
# 
#     for fclty in facilities:
#         if fclty not in recommend_fclty:  # 중복된 시설은 제외
#             recommend_fclty.append(fclty)
#     if len(recommend_fclty) >= 10:  # 10개 이상이면 종료
#         break
    # return recommend_fclty[:10]  # 최대 10개 추천 장소 반환

In [427]:
# category_score('공원')

In [428]:
catg_similarity = {}

# 모든 장소에 대해 유사도 점수 계산
for _, row in train_df.iterrows():
    fclty_name = row['FCLTY_NM']
    category = row['CTGRY_TWO_NM']

    # 현재 장소의 카테고리와 모든 카테고리 간 유사도를 가져와서 저장
    similarity = ct_sim[category] if category in ct_sim.index else np.nan
    catg_similarity[fclty_name] = similarity

# DataFrame으로 변환하여 반환
similarity_df = pd.DataFrame(catg_similarity).transpose().reset_index()
similarity_df.columns = ['Place'] + list(similarity_df.columns[1:])

similarity_df

            Place      관광지    대형체육시설    전시/기념관    대형레저시설        공원  영화/연극/공연
0          9.81파크      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
1        강창학종합경기장  0.20748       1.0  0.424544  0.574813  0.138867  0.383858
2        갤러리2중선농원  0.06798  0.424544       1.0  0.480152  0.048942  0.377643
3         건강과성박물관  0.06798  0.424544       1.0  0.480152  0.048942  0.377643
4           고흐의정원      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
..            ...      ...       ...       ...       ...       ...       ...
103           혼인지      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
104     화순금모래해수욕장      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
105           화조원      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
106      훈데르트바서파크      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
107  ICC제주국제컨벤션센터  0.06798  0.424544       1.0  0.480152  0.048942  0.377643

[108 rows x 7 columns]

In [429]:
def category_score(selected_category):
    sim_scores = ct_sim[selected_category].sort_values(ascending=False)
    recommend_fclty = [] 

    for category in sim_scores.index:  
        facilities = train_df[train_df['CTGRY_TWO_NM'] == category]['FCLTY_NM']

        for fclty in facilities:
            if fclty not in recommend_fclty: 
                recommend_fclty.append(fclty)
        if len(recommend_fclty) >= 10: 
            break
    recommend_fclty = recommend_fclty[:10]  
    return recommend_fclty

def get_name_score(recommend_fclty, selected_category):
    catg_similarity = {} 

    for rfc in recommend_fclty:
        category = train_df[train_df['FCLTY_NM'] == rfc]['CTGRY_TWO_NM'].values[0]
        similarity = ct_sim[selected_category][category]  # 선택한 카테고리와 해당 카테고리의 유사도
        catg_similarity[rfc] = similarity
    return catg_similarity

def get_recommendations_and_similarities(selected_category):
    recommended_places = category_score(selected_category)
    category_similarities = get_name_score(recommended_places, selected_category)
    recommendations_df = pd.DataFrame(list(category_similarities.items()), columns=['Place', 'Similarity'])
    return recommendations_df

selected_category = input("Enter category: ")
recommendations_df = get_recommendations_and_similarities(selected_category)

recommendations_df

       Place  Similarity
0     노형근린공원    1.000000
1  제주4.3평화공원    1.000000
2  제주곶자왈도립공원    1.000000
3      한라생태숲    1.000000
4     9.81파크    0.361791
5      고흐의정원    0.361791
6    교래자연휴양림    0.361791
7      금능석물원    0.361791
8     금능해수욕장    0.361791
9     김녕미로공원    0.361791

In [436]:
con_score = con_score.T
con_score

            Place      관광지    대형체육시설    전시/기념관    대형레저시설        공원  영화/연극/공연
0          9.81파크      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
1        강창학종합경기장  0.20748       1.0  0.424544  0.574813  0.138867  0.383858
2        갤러리2중선농원  0.06798  0.424544       1.0  0.480152  0.048942  0.377643
3         건강과성박물관  0.06798  0.424544       1.0  0.480152  0.048942  0.377643
4           고흐의정원      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
..            ...      ...       ...       ...       ...       ...       ...
103           혼인지      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
104     화순금모래해수욕장      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
105           화조원      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
106      훈데르트바서파크      1.0   0.20748   0.06798   0.14908  0.361791  0.023221
107  ICC제주국제컨벤션센터  0.06798  0.424544       1.0  0.480152  0.048942  0.377643

[108 rows x 7 columns]

In [437]:
reg_score

,FCLTY_NM,1526,1182,855,1908,941,1382,1608,1920,880,...,1185,1161,391,633,957,475,1307,1650,1327,546
0,9.81파크,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262
1,강창학종합경기장,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262
2,갤러리2중선농원,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262
3,건강과성박물관,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262
4,고흐의정원,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,혼인지,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262
104,화순금모래해수욕장,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262
105,화조원,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262
106,훈데르트바서파크,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262
107,ICC제주국제컨벤션센터,4.366535,4.569635,4.452631,4.830199,4.651026,4.46095,4.855636,4.260751,4.509761,...,4.398611,4.487152,4.189007,4.705352,4.434466,4.463473,4.271608,4.752297,4.520043,4.494262